<h4 class="text-center">Listado De Gastos</h4>
<hr>
<div class="row" style="margin-top:40px">
    <div class="col-lg-6">
        <div class="alert alert-success sizeAlert">
        presupuesto<strong>{{presupuesto|currency}}</strong>
    </div>
    </div>
    <div class="col-lg-6">
        <div class="sizeAlert" [ngClass]="aplicarcolorRestante()">
        restante<strong>{{restante|currency}}</strong>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-lg-between" *ngFor="let gasto of listGastos">
                <strong>{{gasto.nombreGasto}}</strong>
                <span class="badge rounded-pill bg-secondary">{{gasto.cantidad|currency}}</span>
            </li>
        </ul>
    </div>
</div>